{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Luis Angel C</h1>
    </div>

    <div class="col-3">
        <img src="assets/img/abcde.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}